
section{
    background-image: url(img3.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    height: 500px;
   
  }
  #head{
    color: white;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    padding-top: 15rem;
  
  
  }
  #btn{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100px;

  }
  footer{
    background-color: aquamarine;
    margin-top: 2rem;
  }
  .footer{
    list-style: none;
    text-decoration: none;
  }